// Local development configuration file Example

// 1. Copy this file and rename it to configLocal.js
// 2. Set correct path to your local API

var configLocal = {
  APIpath: 'http://private-a13d4-checklist5.apiary-mock.com/checklist-api/checklists/',
  mock_id: 'abs34xay23'
}

module.exports = configLocal
