//
// Checklist
// ----------------------

.checklist {
  position: relative;
  min-height: 10rem;
}



//=====================================
//  CELLS
//-------------------------------------
.cell {
  &:first-child,
  &:last-child {
    display: flex;
    flex: 0 0 auto;
    align-items: center;
  }

  &:first-child {
    padding-right: 20px;
  }

  &:nth-child(2) {
    flex: 1;
    padding: 10px 1rem 10px 0;
    overflow: hidden;
  }
}


// UTILS

.checklist .hide {
  display: none;
}
