//
// Checklist Item Description
// ------------------------

// TODO
.checklist-item__desc {
    position: absolute;
    background: #fff;
    padding: 20px 40px;
    border: 1px solid #ddd;
    z-index: 1;
}