//
// Checklist Action buttons
//-------------------------------------

.checklist-item__button {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  margin-left: 5px;
  outline: none;
  border: 0;
  border-radius: 100px;
  padding: 5px 0 0 0;
  width: 38px;
  height: 38px;
  overflow: hidden;
  background: $checklist-button-bg;

  &:first-child {
    margin: 0;
  }
}

.checklist-item__button--complete {
  background: $checklist-button-bg-complete;

  .checklist-glyph {
    fill: #fff;
  }
}

.checklist-item__button--close {
  background: transparent;
}

// Glyphs
.checklist-glyph {
  fill: #b5b397;
  transform: translate(0, 0);

  .checklist-item__button:hover &,
  .checklist-item__button:focus &,
  .checklist-item__button:active & {
    fill: #5FA316;
  }
}

.checklist-glyph--active {
  &,
  .checklist-item__button:hover &,
  .checklist-item__button:focus &,
  .checklist-item__button:active & {
    fill: $checklist-complete-color;
  }
}
