//
// Checklist variables
// -------------------

$checklist-item-border:         1px solid #eee;
$checklist-item-active-border:  $checklist-item-border;
$checklist-item-active-bg:      #eee;

$checklist-button-bg:           #eee;
$checklist-button-hover-bg:     $checklist-button-bg;
$checklist-button-active-bg:    $checklist-button-bg;

$checklist-complete-color:      #85bf6b;
$checklist-button-bg-complete:  $checklist-complete-color;

$checklist-edit-hover-bg:       #fffee3;
